Build/Ancient Techs Rebalanced/Buildings/ResourceYieldChanges.xml
Build/Ancient Techs Rebalanced/Buildings/BuildingsClass.xml
Build/Ancient Techs Rebalanced/Buildings/BuildingsYieldChanges.xml
Build/Ancient Techs Rebalanced/Buildings/BuildingsFlavors.xml
Build/Ancient Techs Rebalanced/Buildings/Buildings.xml
Build/Ancient Techs Rebalanced/Art/Buildings/AncientBuildingAtlas64.dds
Build/Ancient Techs Rebalanced/Art/Buildings/AncientBuildingAtlas256.dds
Build/Ancient Techs Rebalanced/Ancient Techs Rebalanced (v 4).modinfo
Build/Ancient Techs Rebalanced/Buildings/BuildingsText.xml
Build/Ancient Techs Rebalanced/Art/Buildings/AncientBuildingAtlas80.dds
Build/Ancient Techs Rebalanced/Art/Buildings/AncientBuildingAtlas45.dds
Build/Ancient Techs Rebalanced/Art/Buildings/AncientBuildingAtlas128.dds
